*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	color: #FAFAFA;
}
header{
	width: 100%;
	height: 70px;
    background-color: #EC715F;
}
.nav-list{
	margin: 0 auto;
    background-color: none;
	width: 1024px;
	line-height: 70px;
}
.nav-image{
	list-style: none;
	width: 120px;
	height: 70px;
	background-image: url(img/logo.png);
	background-size: cover;
    background-position: center;
	float:left;
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	font-size: 16px;
	line-height: 70px;
	margin: 0 30px;
    float: right;
}
.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
    background-size:cover;
    background-position: center;
}
.main-visual-content{
	text-align: center;
	margin: 0 auto;
	padding-top: 200px;
	font-size: 64px;
	color: #FAFAFA;
}
.main-visual-text{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 20px;
    color: #FAFAFA;
}
.back{
	background-color: #ECEff1;
}
.portfolio{
	width: 920px;
	margin: 0 auto;
	padding: 90px 0;
}
.portfolio-title{
	text-align: center;
	font-size: 32px;
	padding-bottom: 8px;
	color: #000000;
}
.portfolio-border{
    margin: 0 auto;
    width: 70px;
	border-bottom:  3px solid  #EC715F;
}
.portfolio-text{
	text-align: center;
	font-size: 16px;
	color: #000000;
	margin: 30px auto;
}
.image-box1{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  	background-image: url(img/sketch.jpg);
	background-size: cover;
    background-position: center;
	float:left;
}
.image-box2{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  	background-image: url(img/websuku.png);
	background-size: cover;
    background-position: center;
	float:left;
}
.image-box3{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  	background-image: url(img/write.jpg);
	background-size: cover;
    background-position: center;
	float:left;
}
.image-box4{
  width: 300px;
  height: 250px;
  margin-right: 10px;
  	background-image: url(img/webcamp.png);
	background-size: cover;
    background-position: center;
	float:left;
}
.image-box5{
  width: 300px;
  height: 250px;
  margin-right: 10px;
  	background-image: url(img/talk.jpg);
	background-size: cover;
    background-position: center;
	float:left;
}
.image-box6{
  width: 300px;
  height: 250px;
  	background-image: url(img/webcamp-mother.png);
	background-size: cover;
    background-position: center;
	float:left;
}
.feature{
	width: 980px;
	margin: 0 auto;
	padding: 90px 0;
}
.feature-box{
	width: 320px;
	height: auto;
	margin-right: 10px;
	float: left;
}
.feature-box3{
	width: 320px;
	height: auto;
	float: left;
}
.icon{
    text-align: center;
	margin: 0 auto;
}
i{
	font-size: 60px;
}
.feature-title{
	text-align: center;
	font-size: 20px;
	margin: 10px auto;
	color: #000000;
}

.profile{
  	width: 1024px;
	margin: 0 auto;
	padding: 90px 0;
}
.leftbar{
	width: 512px;
	float: left;
}
.profile-image{
	margin: 0 auto;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	background-image: url(img/myicon.jpg);
	background-size: cover;
    background-position: center;
}
.right-bar{
	width: 512px;
	float: left;
}
.name{
	font-size: 20px;
	margin-bottom: 5px ;
}
.name-text{
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px; 
}
.contact{
  	width: 800px;
	margin: 0 auto;
	padding: 90px 0;
}
.adress{
	width: 400px;
	float: left;
}
.center{
	width: 130px;
	margin:0 auto;
}
.sns{
	width: 400px;
	float: left;
}
.sns-icon{
	font-size: 50px;
	float: left;
	margin-right: 20px;
}
.center2{
	width: 300px;
	margin:0 auto;
}
footer{
	width: 100%;
	height: 60px;
    background-color: #EC715F;
    text-align: center;
    	line-height: 60px;
}
.foot{
	font-size: 16px;
	color: #FAFAFA;
}




/*ココからメディアクエリ*/
@media screen and (max-width: 767px){
*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
header{
	width:100%;
	height: 50px;
}
.nav-list{
	width: 90%;
}
.nav-image{
	list-style: none;
	width: 120px;
	height: 50px;
	background-image: url(img/logo.png);
	background-size: cover;
    background-position: center;
	left: 0px;
}
.nav-list-item{
	width: 90%;
}

/*ハンバーガー*/
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
 
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
 
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
 
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
 
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
 
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
 
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/*ココまでハンバーガー*/
.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/code.png);
    background-size:cover;
    background-position: center;
}
.main-visual-content{
	width: 90%;
}
.portfolio{
	width: 90%;
}
.image-box1,.image-box2,.image-box3,.image-box4,.image-box5,.image-box6{
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 10px; 
	float: none;

}
.feature{
	width: 90%;
}
.feature-box,.feature-box3{
	float: none;
	text-align: center;
	margin:0 auto;
	margin-bottom: 10px;
}
.profile{
	width:90%;
}
.leftbar{
	margin:0 auto;
	width: 100%;
	float: none;
}

.profile-image{
	margin: 0 auto 20px;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	background-image: url(img/myicon.jpg);
	background-size: cover;
    background-position: center;
}

.right-bar{
	width: 100%;
}
.name,.name-text{
	text-align: center;
}
.contact{
	width: 90%;
}
.adress{
	width: 100%;
    float: none;
}
.sns{
	margin: 0 auto;
	width: 100%;
}
.sns-icon{
	font-size: 50px;
	margin-right: 20px;
}
.sns-icon:last-child{
   margin-right: 0px;
}
.center2{
	width: 190px;
	height: 50px;
	margin: 0 auto;
}

footer{
	width: 100%;
}

}

